@import "compass/reset";
@import "compass/css3";
@import "susy";
@import "config";

body {
	background-color: $green;
	background-image: image-url('herring-floor.svg');
	background-repeat: repeat;

	font-family: "museo-1","museo-2",serif;
	font-style: normal;
	font-weight: 300;
	font-size: 125%;
	line-height: 1.3em;

	@include at-breakpoint($breakpoint-medium) {
		font-size: 140%;
	}

	@include at-breakpoint($breakpoint-large) {
		font-size: 165%;
	}
}

.container { @include container; }

section {
	padding: 0.75em 0;
}

#ceremony {}
#events {}
#lodging {}
#explore {}
#registry {}

em { font-style: italic; }
strong { font-weight: 500; }
address { display: inline; }

a {
	color: $pink;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-weight: 700;
	font-size: 1.1em;
	margin: 0 0 .5em;
}

h2 {
	font-weight: 700;
	margin: 1em 0 .5em;
}

p { margin-bottom: .5em; }
li { margin-bottom: .5em; }

@include at-breakpoint($breakpoint-medium) {
	ul {
		@include clearfix;
	}
	li {
		@include isolate-grid(6, 12);
	}
}

@include at-breakpoint($breakpoint-large) {
	ul {
		@include clearfix;
	}
	li {
		@include isolate-grid(4, 12);
	}
}

p.invite {
	font-size: 1.5em;
	line-height: 1.2em;
}

.typekit-badge { display: none !important; }