@import "compass/reset";
@import "compass/css3";
@import "susy";
@import "config";

@mixin washi($image) {
	margin-top: -1.5em;
	padding-top: 3em;
	background-image: image-url($image);
	background-repeat: no-repeat;
	background-position: top center;
}

body {
	background-color: $gray;
	background-image: image-url('texture.png');
	background-repeat: repeat;

	font-family: "museo-1","museo-2",serif;
	font-style: normal;
	font-weight: 300;
	font-size: 125%;
	line-height: 1.3em;

	@include at-breakpoint($breakpoint-medium) {
		font-size: 140%;
	}

	@include at-breakpoint($breakpoint-large) {
		font-size: 165%;
	}
}

.container { @include container; }

section {
	margin: 2em;
	padding: 0.75em 0;
	background-color: $white;
	@include border-radius(2px);
	@include box-shadow(0 2px 5px rgba(0, 0, 0, .6));

	header {
		@include washi("washi/short-blue-stripe.png");
	}
}

#ceremony {}
#events {
	header {
		@include washi("washi/long-gold-stripe.png");
	}
}
#lodging {}
#explore {
	header {
		@include washi("washi/long-black-stripe.png");
	}
}
#registry {}

em { font-style: italic; }
strong { font-weight: 500; }
address { display: inline; }

a {
	color: $pink;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-weight: 700;
	font-size: 1.1em;
	margin: 0 0 .5em;
}

h2 {
	font-weight: 700;
	margin: 1em 0 .5em;
}

p { margin-bottom: .5em; }
li { margin-bottom: .5em; }

@include at-breakpoint($breakpoint-medium) {
	ul {
		@include clearfix;
	}
	li {
		@include isolate-grid(6, 12);
	}
}

@include at-breakpoint($breakpoint-large) {
	ul {
		@include clearfix;
	}
	li {
		@include isolate-grid(4, 12);
	}
}

p.invite {
	font-size: 1.5em;
	line-height: 1.2em;
}

.typekit-badge { display: none !important; }