@import "compass/reset";
@import "compass/css3";
@import "susy";
@import "config";

body {
	background-color: #ddd;
	background-image: image-url('texture.png');
	background-repeat: repeat;
}

.container { @include container; }

#ceremony {}
#events {}
#lodging {}
#explore {}