<!DOCTYPE html>
<html lane="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Amit ❤’s Elana</title>

	<script type="text/javascript" src="//use.typekit.net/flg6yjf.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script data-main="/assets/scripts/main" src="/assets/scripts/requirejs/require.js"></script>

	<link href="/assets/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body class="{{ page.class }}">
	{{ content }}
	{% include analytics.html %}
</body>
</html>