<!DOCTYPE html>
<html lane="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Amit ❤’s Elana</title>

	<link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css' />

	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var host = window.location.host;
			var title = (host == 'amitloveselana.com')
				? 'Amit ❤’s Elana'
				: 'Elana ❤’s Amit';
			$('header h1').text(title);
			$('title', document).text(title);
		});
	</script>
</head>
<body>
	{{ content }}
	
	{% include analytics.html %}
</body>
</html>